/* fuente para logos*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
/* llamar fuente
font-family: 'Comfortaa', cursive;
*/

/* fuente para NO LOGOS */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
/* llamar fuente
font-family: 'Fira Code', monospace;
*/

* {
	padding: 0px;
	margin: 0px;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
}

header {
	width: 100%;
	background-color: #4d331f;
}

.icon {
	width: 70px;
	max-width: 70px;
	max-height: 70px;
	padding: 5px;
	border-radius: 3px;
	background: #4d331f;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.navbar h1 {
	color: #ffffff;
	font-family: "Comfortaa", cursive;
	font-weight: 400;
	font-size: 50px;
    margin-top: 6px;
    margin-right: auto;
    margin-left: 70px;
}
.navbar span {
	color: #e47812;
    font-weight: 700;
    margin-right: 1px;
}

.navlist {
	display: flex;
}
.navlist ul {
	display: flex;
	text-align: center;
	font-family: "Fira Code", monospace;
	font-weight: 500;
	color: #ffffff;
	gap: 60px;
	margin-right: 60px;
	margin-left: 60px;
}

