
@media(min-width: 769px) and (max-width: 1366px){
    .barista {
        justify-content: center;
        flex-direction: row;
        overflow: unset;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: unset;
        width: 100%;
    
    }

.boxIzq {
    border-radius: 10px;
    max-width: 45%;
    margin: unset;
    gap: unset;
    margin: unset;
}
.boxDer {
    border-radius: 10px;
    max-width: 45%;
    margin: unset;
    gap: unset;
    margin: unset;
}


}